.buttonC {
    height: 53px;
    background: blue;
    width: 346px;
    border-color: blue;
}
.butd{
    height: 10px;
    height: 38px;
    width: 89px;
    margin-left: 12px;
}
.rowup{
    margin-left: 240px;
}